html {
    font-family: sans-serif;
    background-color: lightcyan;
}

img {
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    text-align: center;
    font-size: 4rem;
    color: white;
    padding: 10px 0;
    background-color: cornflowerblue;
}

.headline {
    width: 100%;
    text-align: center;
}

h1 {
    font-size: 3rem;
    margin: 20px;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px 30px 30px;
}

#menu {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 10px;
}

/*----- Navigation -----*/

nav {
    margin: 20px 0;
    text-align: center;
}

button {
    padding: 5px;
    font-size: 1.2rem;
}

.button_chosen {
    background-color: darkseagreen;
}

/*----- Footer -----*/

footer {
    background-color: darkseagreen;
    width: 100%;
}

.footer-content {
    color: ghostwhite;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 30px;
    display: flex;
}

footer p {
    padding: 0;
    margin: 0;
}

footer p:first-child {
    margin-right: 30px;
}

/*----- Main -----*/

.dish_container {
    background-color: lightsteelblue;
    margin: 5px;
}

h2 {
    margin: 5px 0 0 5px;
}

.origin {
    font-style: italic;
    margin-left: 5px;
}

p {
    margin-left: 5px;
}

.price {
    font-weight: bold;
    margin: 5px;
}
