html {
    font-family: sans-serif;
    background-color: lightcyan;
}

img {
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    text-align: center;
    font-size: 4rem;
    color: white;
    padding: 10px 0;
    background-color: cornflowerblue;
}

.headline {
    width: 100%;
    text-align: center;
}

h1 {
    font-size: 3rem;
    margin: 20px;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
}

#menu {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 10px;
    margin-bottom: 30px;
}

/*----- Navigation -----*/

nav {
    margin: 20px 0;
    text-align: center;
}

button {
    padding: 5px;
    font-size: 1.2rem;
}

.button_chosen {
    background-color: darkseagreen;
}

/*----- Footer -----*/

footer {
    background-color: darkseagreen;
    width: 100%;
}

.footer-content {
    color: ghostwhite;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 30px;
    display: flex;
}

footer p {
    padding: 0;
    margin: 0;
}

footer p:first-child {
    margin-right: 30px;
}

/*----- Main -----*/

.dish_container {
    background-color: lightsteelblue;
    margin: 5px;
}

h2 {
    margin: 5px 0 0 5px;
}

.origin {
    font-style: italic;
    margin-left: 5px;
}

p {
    margin-left: 5px;
}

.price {
    font-weight: bold;
    margin: 5px;
}

/*----- Popup -----*/

.popup {
    position: fixed;
    top: 5vh;
    left: 5vw;
    width: 90vw;
    max-height: 90vh;
    background-color: #cfd000;
    overflow-y: scroll;
    display: none;
}

.popup_info {
    padding: 40px 30px 30px 30px;
    max-width: 800px;
    margin: 0 auto;
}

.popup_dim {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.7;
    display: none;
}

.close img {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 20px;
    height: 20px;
    opacity: 0.7;
}


.close img:hover {
    position: absolute;
    right: 7px;
    top: 7px;
    width: 26px;
    height: 26px;
    opacity: 1;
}

/*----- Single view -----*/

.content_page_container {
    max-width: 1200px;
    background-color: lightsteelblue;
}

.content_page {
    max-width: 800px;
    margin: 0 auto;
    padding: 30px;
}

.back img {
    padding: 10px;
    width: 20px;
    height: 20px;
    opacity: 0.7;
}


.back img:hover {
    padding: 7px;
    width: 26px;
    height: 26px;
    opacity: 1;
}
