@font-face {
    font-family: 'Eras Demi ITC';
    src: url('ErasITC-Demi.eot');
    src: url('ErasITC-Demi.eot?#iefix') format('embedded-opentype'),
        url('ErasITC-Demi.woff2') format('woff2'),
        url('ErasITC-Demi.woff') format('woff'),
        url('ErasITC-Demi.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Eras Medium ITC';
    src: url('ErasITC-Medium.eot');
    src: url('ErasITC-Medium.eot?#iefix') format('embedded-opentype'),
        url('ErasITC-Medium.woff2') format('woff2'),
        url('ErasITC-Medium.woff') format('woff'),
        url('ErasITC-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Eras Light ITC';
    src: url('ErasITC-Light.eot');
    src: url('ErasITC-Light.eot?#iefix') format('embedded-opentype'),
        url('ErasITC-Light.woff2') format('woff2'),
        url('ErasITC-Light.woff') format('woff'),
        url('ErasITC-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Eras Bold ITC';
    src: url('ErasITC-Bold.eot');
    src: url('ErasITC-Bold.eot?#iefix') format('embedded-opentype'),
        url('ErasITC-Bold.woff2') format('woff2'),
        url('ErasITC-Bold.woff') format('woff'),
        url('ErasITC-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

